/* Button styles */

button {
  display: block;
  min-width: 120px;
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: lighten(#00b871, 5%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  outline: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

button:hover {
  background-color: lighten(#00b871, 3%);
}
